---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
     I prioritize selecting the best tool for each project, regardless of my usual preferences, aiming to find the perfect solution for the problem at hand. My primary tools of choice includes:
    </p>

    <p class="text-sm font-light">
      <ul class="list-disc list-inside">
        <li role="link"><b>JavaScript/Typescript</b></li>
        <li role="link"><b>React</b></li>
         <li role="link"><b>Nodejs</b></li>
        <li role="link"><b>Langchain</b></li>
        <li role="link"><b>Python</b></li>
      </ul>
    </p>
    
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about reseach in <b>Computer Vision</b> and <b>Natural Language Processing</b>. I spend some of my free time reading research articles on these topics  
    </p>
    
    <p class="text-sm font-light">
    Also , I'm a huge <b>F1</b> fan and on Sundays you'd find me either at my local Go-Karting circuit or watching an F1 race.  
    </p>
  
  </div>
</Card>
