---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h2>Currently Building</h2>
    </div>
    <Pulse />
  </div>
  <p> <b>X-tractor</b> : A dev tool to extract domain info from PDF/CSV/Text documents simultaneously and passing that info to an LLM Agent using a simple API at scale.</p>
</Card>
